.*
system/

htdocs/google/
htdocs/pro/
application/controllers/admin.php
application/config/development/
application/config/production/
application/config/testing/

nbproject/
plan/*
!plan/todo.md
test*

~*
