.*
system/
application/*

public_html/lib/
public_html/google/
public_html/pro/
!application/controllers/
application/controllers/admin.php
!application/views/
!application/models/
!application/helpers/
!application/libraries/
!application/core/

nbproject/
plan/*
!plan/todo.md
test*

~*


