@charset "utf-8";
html,
body {
  height: 100%;
  background: #ffffff;
  /*    font-family:"Times New Roman",Georgia,Serif; */
  font-family: 'Avenir', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  overflow: auto;
}
#wrapper {
  width: 800px;
  margin: 0 auto;
  overflow: auto;
}
a {
  color: #666;
}
a:visited {
  color: #222;
}
.content {
  /*    margin-top: 30px; */
  position: relative;
  overflow: auto;
}
.content h1 {
  font-size: 30px;
}
.content h1.content-title {
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: none;
  box-shadow: -4px 0px 3px;
  width: 60%;
}
.content h2 {
  font-size: 20px;
}
.content .left-box {
  width: 50%;
  float: left;
}
.content .right-box {
  width: 50%;
  float: left;
}
.content p.img-box-absolute {
  position: relative;
  width: 300px;
  height: 300px;
}
.content p.img-box-absolute img.elzup-icon {
  position: absolute;
  /*            margin: 0 auto; */
}
.content p.img-box-absolute img.icon-mini {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  bottom: 3px;
}
.content .param {
  margin-bottom: 30px;
}
.content .param h4 {
  font-size: 20px;
}
.content .param table {
  width: 100%;
}
.content .param table tr {
  height: 1.8em;
}
.content .param table tr:nth-child(2n) {
  background: #fafafa;
}
.content .param table tr td {
  border-bottom: solid 1px #DDD;
}
.content .param table tr td.name {
  padding-left: 10px;
  width: 50%;
}
.content .param table tr td.value {
  width: 50%;
}
.toppane {
  margin-top: 50px;
}
.toppane .row-toppane {
  overflow: hidden;
  width: 100%;
}
.toppane .cell {
  float: left;
  margin: 10px 2%;
  width: 16%;
  height: 100px;
  line-height: 100px;
}
.toppane .cell > div {
  display: block;
  background-color: #000000;
  height: 100%;
  border-radius: 3px;
}
.toppane .cell > div p {
  text-align: center;
}
.toppane .cell > div p a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.toppane .cell > div .link-logo {
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  top: -40px;
}
.toppane .cell > div .link-logo > img {
  width: 70%;
  position: absolute;
  padding: 15%;
}
.toppane .cell .back {
  display: none;
}
.toppane .cell .back.on {
  /*                    background: #555; */
}
.toppane .cell .front.on {
  background: #555;
}
.toppane .cell .my-hp {
  border-radius: 3px 3px 20px;
}
.toppane .row-toppane-title {
  height: 100px;
  width: 100%;
  display: table;
}
.toppane .row-toppane-title .middle-box {
  display: table-cell;
  vertical-align: middle;
}
.toppane .row-toppane-title .middle-box .center-box {
  text-align: center;
  overflow: auto;
  width: 420px;
  margin: 0 auto;
}
.toppane .row-toppane-title .middle-box .center-box .top-icon {
  height: 89px;
  float: left;
}
.toppane .row-toppane-title .middle-box .center-box h1 {
  font-size: 70px;
  display: inline;
  float: left;
}
.production-pagelinks ul > li {
  padding-bottom: 5px;
}
.production-box .production-item {
  float: left;
  padding: 1%;
  width: 48%;
  height: 600px;
  border-bottom: solid 1px;
}
.production-box .production-item .img-box {
  display: table-cell;
  vertical-align: middle;
  height: 240px;
  overflow: hidden;
}
.production-box .production-item .img-box img.sc {
  width: 100%;
}
.production-box .production-item .detail-box a,
.production-box .production-item .detail-box a:hover {
  text-decoration: none;
}
.production-box .production-item .detail-box .name {
  font-size: 30px;
}
.production-box .production-item .detail-box .detail {
  font-size: 0.8em;
  margin-bottom: 10px;
}
.production-box .production-item .detail-box .member {
  font-size: 0.8em;
}
/* sub funcs */
.a-third {
  width: 33%;
}
.half {
  width: 50%;
}
.disabled {
  cursor: default;
}
.visible-xs {
  display: none !important;
}
.tag {
  color: #333;
  margin-left: 10px;
}
.tag:before {
  content: '#';
}
.techtag {
  color: white;
  margin-left: 4px;
  background: black;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 13px;
  /* lang */
  /* metalang */
  /* framework */
  /* lib */
  /* api */
  /* opt service */
  /* os */
  /* db */
  /* ide,editor */
  /* version control */
}
.techtag.techtag-cpp,
.techtag.techtag-php,
.techtag.techtag-java,
.techtag.techtag-javascript,
.techtag.techtag-processing {
  background: #610B0B;
}
.techtag.techtag-jquery,
.techtag.techtag-less,
.techtag.techtag-processing-js {
  background: #8A2908;
}
.techtag.techtag-codeigniter,
.techtag.techtag-bootstrap {
  background: #8A2908;
}
.techtag.techtag-dxlib,
.techtag.techtag-java .techtag.servlet {
  background: #0A0A2A;
}
.techtag.techtag-twitterapi,
.techtag.techtag-twitterwebapi,
.techtag.techtag-ustreamapi,
.techtag.techtag-yahooapi {
  background: #0A0A2A;
}
.techtag.techtag-googlescript {
  background: #0A0A2A;
}
.techtag.techtag-mysql,
.techtag.techtag-postgresql {
  background: darkgreen;
}
.techtag.techtag-visualstudio,
.techtag.techtag-eclipse,
.techtag.techtag-netbeans,
.techtag.techtag-vim {
  background: #220A29;
}
.techtag.techtag-git {
  background: darkgray;
}
.shift-top {
  margin-top: 30px !important;
}
/* animation methods */
@keyframes flip-in {
  from {
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes flip-in {
  from {
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes flip-out {
  from {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
@-webkit-keyframes flip-out {
  from {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
