@charset "utf-8";
html,
body {
  height: 100%;
  background: #ffffff;
  font-family: 'Avenir', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  overflow: hidden;
}
#wrapper {
  width: 800px;
  margin: 0 auto;
}
.toppane {
  margin-top: 50px;
}
.toppane .row-toppane {
  overflow: hidden;
  width: 100%;
}
.toppane .row-toppane .cell {
  float: left;
  margin: 10px 2%;
  width: 16%;
  height: 100px;
  line-height: 100px;
  background-color: #000000;
}
.toppane .row-toppane .cell p {
  text-align: center;
}
.toppane .row-toppane .cell p a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.toppane .row-toppane .cell p a:hover {
  -webkit-animation: "btn 2x ease-out 0s 1 normal";
  -o-animation: "btn 2x ease-out 0s 1 normal";
  animation: "btn 2x ease-out 0s 1 normal";
}
.toppane .row-toppane-title {
  height: 100px;
  width: 100%;
  display: table;
}
.toppane .row-toppane-title .middle-box {
  display: table-cell;
  vertical-align: middle;
}
.toppane .row-toppane-title .middle-box h1 {
  text-align: center;
  font-size: 70px;
}
/* In the default state, the info box has been slightly moved to the left */
.cell {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
}
.cell .back,
.cell .front {
  /* Make the picture and info go "on top" of each other */
  position: absolute;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  transform-style: preserve-3d;
}
.cell .back:hover,
.cell .front:hover {
  transform: rotateY(180deg);
}
.cell .back {
  opacity: 1;
}
.cell .front {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 999;
}
