@charset "utf-8";
html,
body {
  height: 100%;
  background: #ffffff;
  font-family: 'Avenir', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  overflow: hidden;
}
#wrapper {
  width: 800px;
  margin: 0 auto;
}
a {
  color: #666;
}
a:visited {
  color: #222;
}
.content {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.content h1 {
  font-size: 30px;
}
.content h1.content-title {
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: solid black;
  width: 60%;
}
.content h2 {
  font-size: 20px;
}
.content .left-box {
  width: 50%;
  float: left;
}
.content .right-box {
  width: 50%;
  float: left;
}
.content .elzup-icon {
  width: 60%;
  margin: 0 auto;
}
.content .param {
  margin-bottom: 30px;
}
.content .param h4 {
  font-size: 20px;
}
.content .param table {
  width: 100%;
}
.content .param table tr {
  height: 1.5em;
}
.content .param table tr:nth-child(2n) {
  background: #aaa;
}
.content .param table tr td.name {
  padding-left: 10px;
  width: 50%;
}
.content .param table tr td.value {
  width: 50%;
}
.tag {
  color: #333;
  margin-left: 10px;
}
.tag:before {
  content: '#';
}
.toppane {
  margin-top: 50px;
}
.toppane .row-toppane {
  overflow: hidden;
  width: 100%;
}
.toppane .row-toppane .cell {
  float: left;
  margin: 10px 2%;
  width: 16%;
  height: 100px;
  line-height: 100px;
}
.toppane .row-toppane .cell > div {
  display: block;
  background-color: #000000;
  height: 100%;
}
.toppane .row-toppane .cell > div p {
  text-align: center;
}
.toppane .row-toppane .cell > div p a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.toppane .row-toppane .cell > div .link-logo {
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  top: -40px;
}
.toppane .row-toppane .cell > div .link-logo > img {
  width: 70%;
  position: absolute;
  padding: 15%;
}
.toppane .row-toppane .cell .back {
  display: none;
}
.toppane .row-toppane .cell .back.on {
  background: #555;
}
.toppane .row-toppane .cell .front.on {
  background: #555;
}
.toppane .row-toppane-title {
  height: 100px;
  width: 100%;
  display: table;
}
.toppane .row-toppane-title .middle-box {
  display: table-cell;
  vertical-align: middle;
}
.toppane .row-toppane-title .middle-box h1 {
  text-align: center;
  font-size: 70px;
}
@keyframes flip-in {
  from {
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes flip-in {
  from {
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  to {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes flip-out {
  from {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
@-webkit-keyframes flip-out {
  from {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
