@charset "utf-8";
@import "../lib/less/mixins.less";


@col_back: #fff;
@col_pane_back: black;

@col_cell_font: white;


html,body {
	height: 100%;
    background: @col_back;
/*    font-family:"Times New Roman",Georgia,Serif; */
    font-family:'Avenir', 'Arial', 'Helvetica', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    overflow: auto;
}


#wrapper {
    width: 800px;
    margin: 0 auto;
    overflow: auto;
}

a { 
    color: #666;
    &:visited {
        color: #222;
    }
}

.content {
/*    margin-top: 30px; */
    position: relative;
    overflow: auto;
    h1 {
        font-size: 30px;

        &.content-title {
            padding-bottom: 2px;
            margin-bottom: 10px;
            border-bottom: none;
            box-shadow: -4px 0px 3px;
            width: 60%;
        }
    }
    h2 {
        font-size: 20px;
    }

    .left-box {
        width: 50%;
        float: left;
    }
    .right-box {
        width: 50%;
        float: left;
    }

    p.img-box-absolute {
        position: relative;
        .size(300px, 300px);
        img.elzup-icon {
            position: absolute;
/*            margin: 0 auto; */
        }
        img.icon-mini {
            position: absolute;
            .size(20px, 20px);
            right: 3px;
            bottom: 3px;
        }
    }

    .param {
        margin-bottom: 30px;
        h4 {
            font-size: 20px;
        }

        table {
            width: 100%;
            tr {
                height: 1.8em;
                &:nth-child(2n) {
                    background: #fafafa;
                }
                td {
                    &.name {
                        padding-left: 10px;
                        width: 50%;
                    }
                    &.value {
                        width: 50%;
                    }
                    border-bottom: solid 1px #DDD;
                }
            }
        }
    }
}

.toppane {
    margin-top: 50px;
    .row-toppane {
        overflow: hidden;
        width: 100%;
    }
    .cell {
        float: left;
        margin: 10px 2%;
        width: 16%;
        height: 100px;
        line-height: 100px;

        > div {
            display:block;
            background-color: @col_pane_back;
            height: 100%;
            border-radius: 3px;

            p {
                text-align: center;
                a {
                    display: block;
                    color: @col_cell_font;
                    text-decoration: none;
                    &:hover {
                        //                        .animation("btn 2x ease-out 0s 1 normal");
                    }
                }
            }
            .link-logo {
                width: 40px;
                height: 40px;
                position: relative;
                float: right;
                top: -40px;
                > img {
                    width: 70%;
                    position: absolute;
                    padding: 15%;
                }
            }
        }
        .back {
            display: none;
            &.on {
                /*                    background: #555; */
                //                    .animation(flip-in 0.1s 0.1s);
            }
            &.off { 
                //                    .animation(flip-out 0.1s);
            }
        }
        .front {
            &.on {
                background: #555;
                //                    .animation(flip-out 0.1s);
            }
            &.off { 
                //                    .animation(flip-in 0.1s 0.1s);
            }
        }
    }
    .row-toppane-title {
        height: 100px;
        width: 100%;
        display: table;
        .middle-box {
            display: table-cell;
            vertical-align: middle;
            .center-box {
                text-align: center;
                overflow: auto;
                width: 420px;
                margin: 0 auto;
                .top-icon {
                    height: 89px;
                    float: left;
                }
                h1 {
                    font-size: 70px;
                    display: inline;
                    float: left;
                }
            }
        }
    }
}

.production-pagelinks {
    ul > li {
        padding-bottom: 5px;
    }
}

.production-box {
    .production-item {
        float: left;
        padding: 1%;
        width: 48%;
        height: 600px;
        border-bottom: solid 1px;

        .img-box {
            display: table-cell;
            vertical-align: middle;
            height: 240px;
            overflow: hidden;

            img.sc {
                width: 100%;
            }
        }
        .detail-box {
            a, a:hover {
                text-decoration: none;
            }
            .name {
                font-size: 30px;
            }
            .detail {
                font-size: 0.8em;
                margin-bottom: 10px;
            }
            .member {
                font-size: 0.8em;
            }
        }
    }
}

/* sub funcs */
.a-third {
    width: 33%;
}
.half {
    width: 50%;
}

.disabled {
    cursor: default;
}

.visible-xs {
    display: none !important;
}

.tag {
    color: #333;
    margin-left: 10px;
    &:before {
        content: '#';
    }
}
.techtag {
    color: white;
    margin-left: 4px;
    background: black;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 13px;

    /* lang */
    &.techtag-cpp, &.techtag-php, &.techtag-java, &.techtag-javascript, &.techtag-processing {
        background: #610B0B;
    }

    /* metalang */
    &.techtag-jquery, &.techtag-less, &.techtag-processing-js {
        background: #8A2908;
    }

    /* framework */
    &.techtag-codeigniter, &.techtag-bootstrap {
        background: #8A2908;
    }

    /* lib */
    &.techtag-dxlib, &.techtag-java &.servlet {
        background: #0A0A2A;
    }

    /* api */
    &.techtag-twitterapi, &.techtag-twitterwebapi, &.techtag-ustreamapi, &.techtag-yahooapi {
        background: #0A0A2A;
    }

    /* opt service */
    &.techtag-googlescript {
        background: #0A0A2A;
    }

    /* os */
    &.techtag-windows, &.techtag-linux {
    }

    /* db */
    &.techtag-mysql, &.techtag-postgresql {
        background: darkgreen;
    }

    /* ide,editor */
    &.techtag-visualstudio, &.techtag-eclipse, &.techtag-netbeans, &.techtag-vim {
        background: #220A29;
    }

    /* version control */
    &.techtag-git {
        background: darkgray;
    }

}

.shift-top {
    margin-top: 30px !important;
}

/* animation methods */

.flip-in() {
    from {
        .rotateY(-90deg);
    }
    to {
        .rotateY(0deg);
    }
}
@keyframes flip-in { .flip-in(); }
@-webkit-keyframes flip-in { .flip-in(); }

.flip-out() {
    from {
        .rotateY(0deg);
    }
    to {
        .rotateY(90deg);
    }
}
@keyframes flip-out { .flip-out(); }
@-webkit-keyframes flip-out { .flip-out(); }

