@charset "utf-8";
@import "../lib/less/mixins.less";

#wrapper {
    width: 100%;
}

.toppane {
    margin-top: 20px;
    width: 100%;
    overflow: auto;

    .row-toppane-title .middle-box .center-box {
        width: 300px;
        h1 {
            font-size: 48px !important;
        }
        img {
            height: 65px !important;
        }
    }
    .mini-cell-wrap {
        width: 100%;
        overflow: auto;
        .cell {
            float: left;
            margin: 5px 1.5%;
            width: 30%;
            height: 80px;
            line-height: 80px;
        }
    }
}

.content {
    padding: 0 6px;
    .right-box, .left-box {
        margin-top: 10px;
        width: auto;
        float: none;
    }

}

.hidden-xs {
    display: none !important;
}

.visible-xs {
    display: table !important;
}
